// ЦВЕТА
$purpleLight: #994576
$purpleDark: #cc6652
$blueLight: #3e65b3
$blueDark: #5c995c
$orangeLight: #ccb43d
$orangeDark: #cc793d

$borderRadius: 3px

// ГРАДИЕНТ
=gradient($light, $dark)
  background: $light
  background: -moz-linear-gradient(left, $light 0%, $dark 100%)
  background: -webkit-linear-gradient(left, $light 0%, $dark 100%)
  background: linear-gradient(to right, $light 0%, $dark 100%)

// ТЕНЬ
=shadow
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.125)
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.125)
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.125)

// ТЕНЬ ПРИ НАВЕДЕНИИ
=shadow-hover
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25)
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25)
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25)

// TRANSITION
=transition($property, $speed)
  -webkit-transition: $property $speed
  -moz-transition: $property $speed
  -ms-transition: $property $speed
  -o-transition: $property $speed
  transition: $property $speed

// ОБЩИЕ ПРАВИЛА
*
  margin: 0

  font-family: "Open Sans Condensed", sans-serif

body > div
  min-width: 1024px

// ЗАГОЛОВКИ
h1
  color: white
  font-size: 48px
  font-weight: 500

h2
  margin-bottom: 30px

  color: white
  font-size: 36px
  font-weight: 400

h3
  margin-bottom: 20px

  color: white
  font-size: 24px
  font-weight: 300

// ГЛОБАЛЬНЫЕ ПРАВИЛА
.wrapper
  margin: auto
  padding: 50px 0 75px 0

  width: 1024px

  text-align: center

  // КРУГИ С КАРТИНКАМИ
  div
    display: inline-block

    margin-top: 45px

    width: 300px

    text-align: center

    // ИЗОБРАЖЕНИЕ В КРУГАХ
    div
      margin-top: 0

      height: 200px
      width: 200px

      background: white center no-repeat
      background-size: cover
      border-radius: 50%

      +shadow
      +transition(box-shadow, 0.125s)

    // ИЗОБРАЖЕНИЕ ПРИ НАВЕДЕНИИ
    div:hover
      cursor: pointer

      +shadow-hover

// ШАПКА
.header
  position: absolute

  top: 0
  right: 0
  left: 0

  height: 100px

  // ОБЁРТКА
  .wrapper
    padding: 0

    // ТЕЛЕФОН
    .logo
      float: left

      margin: 25px 0 0 25px
      padding: 0 10px

      height: 50px

      border-radius: $borderRadius
      color: white
      font-size: 24px
      line-height: 50px

      +gradient($purpleLight, $purpleDark)

    // МЕНЮ
    nav
      float: right

      margin-right: 50px

      font-size: 24px

      // ССЫЛКИ
      a:link
        margin-right: 20px
        line-height: 100px

        color: white
        font-size: 18px
        text-decoration: none

      a:last-of-type
        margin-right: 0

      a:hover
        text-decoration: underline

      a:visited
        color: white

// СЛАЙДЕР
.slider
  padding-top: 263px

  height: 640px
  width: 100%

  background: url("../images/slider-one.jpg") top no-repeat fixed
  background-size: cover
  box-sizing: border-box

  // СЛОГАН
  .tag
    color: white
    text-align: center

// СХЕМА
.scheme
  +gradient($purpleLight, $purpleDark)

// СХЕМА
.services
  +gradient($blueLight, $blueDark)

// КАТАЛОГ
.catalogue
  background: url("../images/catalogue.jpg") center
  background-attachment: fixed
  background-size: cover

  // ФОРМА
  .form
    padding: 40px

    background-color: white
    border-radius: 3px
    text-align: center

    +gradient($purpleLight, $purpleDark)

    // ПОЛЕ ВВОДА
    input
      display: block

      margin-bottom: 10px
      padding: 10px

      width: 100%

      font-size: 18px
      border: none
      border-radius: 3px
      box-sizing: border-box

    input:last-of-type
      margin-bottom: 0

      color: white

      +gradient($orangeDark, $orangeLight)

    input:last-of-type:hover
      cursor: pointer

// КОНТАКТЫ
.contacts
  +gradient($orangeDark, $orangeLight)

  // БЛОК
  div
    width: auto
    color: white

  // ЗАГОЛОВОК
  h1
    text-align: center

  // КОНТАКТЫ
  span, a
    padding: 0 20px

    border-right: white thin solid
    font-size: 24px

  a:link
    color: white
    text-decoration: none

  a:hover
    text-decoration: underline

  a:visited
    color: white

  a:last-of-type
    padding-right: 0

    border-right: none

// КНОПКА "ВВЕРХ"
.up

  // ТЕНЬ
  +shadow

  display: none

  position: fixed
  z-index: 6

  right: 50px
  bottom: 50px

  height: 50px
  min-width: 50px

  background: white url("../images/up.svg")
  border-radius: 50%
  cursor: pointer
  opacity: 0.75

.up:hover
  opacity: 1
